* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: center;
    gap: 100px;
}

table, th, tr, td {
    border: 1px solid #000;
}

td {
    text-align: center;
    padding: 10px;
}